<h1>Thought Drop Listing</h1>

<%= link_to 'New Thought', new_thought_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @thoughts.each do |thought| %>
    <tr>
      <td><%= thought.title %></td>
      <td><%= thought.text %></td>
      <td><%= link_to 'Show', thought_path(thought) %></td>
      <td><%= link_to 'Edit', edit_thought_path(thought) %></td>
      <td><%= link_to 'Destroy', thought_path(thought),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>



