
<h1>Thought Comments</h1> 

<p>
  <strong>Title:</strong>
  <%= @thought.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @thought.text %>
</p>

<div class="comment-heading">Comments</div>
<%= render @thought.comments %>

 <div class="show-form">

<div class="add-a-comment">Add a comment</div>

<%= render 'comments/form' %>
 
<%= link_to 'Edit', edit_thought_path(@thought) %> |
<%= link_to 'Back', thoughts_path %> |
<a href="/">Welcome</a>
</div>
